In [28]:
pip install lifelines

Collecting lifelines
  Downloading lifelines-0.27.7-py3-none-any.whl (409 kB)
     -------------------------------------- 409.4/409.4 kB 6.4 MB/s eta 0:00:00
Requirement already satisfied: matplotlib>=3.0 in c:\users\alfan\anaconda3\lib\site-packages (from lifelines) (3.7.0)
Collecting autograd>=1.5
  Downloading autograd-1.6.2-py3-none-any.whl (49 kB)
     ---------------------------------------- 49.3/49.3 kB 2.6 MB/s eta 0:00:00
Collecting formulaic>=0.2.2
  Downloading formulaic-0.6.4-py3-none-any.whl (88 kB)
     ---------------------------------------- 88.9/88.9 kB 5.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in c:\users\alfan\anaconda3\lib\site-packages (from lifelines) (1.23.5)
Collecting autograd-gamma>=0.3
  Downloading autograd-gamma-0.5.0.tar.gz (4.0 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: scipy>=1.2.0 in c:\users\alfan\anaconda3\lib\site-packages (from lifelines) (1.10.0)
Requirement already satisfied: pandas>=1.0.0 in c:\users\alfan\anaconda3\lib\site-packages (from lifelines) (1.5.3)
Requirement already satisfied: future>=0.15.2 in c:\users\alfan\anaconda3\lib\site-packages (from autograd>=1.5->lifelines) (0.18.3)
Requirement already satisfied: wrapt>=1.0 in c:\users\alfan\anaconda3\lib\site-packages (from formulaic>=0.2.2->lifelines) (1.14.1)
Collecting astor>=0.8
  Downloading astor-0.8.1-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\alfan\anaconda3\lib\site-packages (from formulaic>=0.2.2->lifelines) (4.4.0)
Collecting interface-meta>=1.2.0
  Downloading interface_meta-1.3.0-py3-none-any.whl (14 kB)
Requirement already satisfied: pillow>=6.2.0 in c:\users\alfan\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\alfan\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\alfan\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\alfan\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines) (22.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\alfan\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines) (1.0.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\alfan\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\alfan\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\alfan\anaconda3\lib\site-packages (from matplotlib>=3.0->lifelines) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\alfan\anaconda3\lib\site-packages (from pandas>=1.0.0->lifelines) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\alfan\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0->lifelines) (1.16.0)
Building wheels for collected packages: autograd-gamma
  Building wheel for autograd-gamma (setup.py): started
  Building wheel for autograd-gamma (setup.py): finished with status 'done'
  Created wheel for autograd-gamma: filename=autograd_gamma-0.5.0-py3-none-any.whl size=4049 sha256=9f821069578c8d5882f19bbc1f9f0172ee8f12732bcc8b222ba5cee73535b904
  Stored in directory: c:\users\alfan\appdata\local\pip\cache\wheels\e4\30\15\a77aac970f4acc37b9bb9c7f56e73c7c85087f15ff0fb4720f
Successfully built autograd-gamma
Installing collected packages: interface-meta, autograd, astor, autograd-gamma, formulaic, lifelines
Successfully installed astor-0.8.1 autograd-1.6.2 autograd-gamma-0.5.0 formulaic-0.6.4 interface-meta-1.3.0 lifelines-0.27.7
Note: you may need to restart the kernel to use updated packages.

In [35]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
import zipfile
import io
import os
import warnings

from lifelines import NelsonAalenFitter, CoxPHFitter, KaplanMeierFitter
from lifelines.statistics import logrank_test

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 100)

In [36]:
url = 'https://github.com/alfandysurya2/project_datasets/raw/main/CreditCardApprovalPrediction/CreditCardApprovalPrediction.zip'
app_record = '\\application_record.csv'
cred_record = '\\credit_record.csv'

current_directory = os.getcwd()

dataset_path = 'dataset'
output_path = 'output_data'
path = [dataset_path, output_path]
for i in path:
    os.makedirs(i, exist_ok=True)

df_full_path = os.path.join(current_directory, dataset_path)
output_full_path = os.path.join(current_directory, output_path)

In [37]:
response = requests.get(url)
if response.status_code == 200:
    zip_data = response.content
else:
    print(f"Failed to download ZIP dataset: {response.status_code} - {response.reason}")
    exit(1)
    
if not os.path.exists(df_full_path):
    os.makedirs(df_full_path, exist_ok=True)

with zipfile.ZipFile(io.BytesIO(zip_data)) as zip_file:
    zip_file.extractall(df_full_path)
    print(f"successfully extract all datasets to: {df_full_path}")

successfully extract all datasets to: C:\Users\alfan\Projects\portfolio\Credit Card Approval Prediction\dataset

In [38]:
application = pd.read_csv(df_full_path+app_record)
credit = pd.read_csv(df_full_path+cred_record)

In [51]:
application.info()
display(application.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438557 non-null  int64
 1   CODE_GENDER          438557 non-null  object
 2   FLAG_OWN_CAR         438557 non-null  object
 3   FLAG_OWN_REALTY      438557 non-null  object
 4   CNT_CHILDREN         438557 non-null  int64
 5   AMT_INCOME_TOTAL     438557 non-null  float64
 6   NAME_INCOME_TYPE     438557 non-null  object
 7   NAME_EDUCATION_TYPE  438557 non-null  object
 8   NAME_FAMILY_STATUS   438557 non-null  object
 9   NAME_HOUSING_TYPE    438557 non-null  object
 10  DAYS_BIRTH           438557 non-null  int64
 11  DAYS_EMPLOYED        438557 non-null  int64
 12  FLAG_MOBIL           438557 non-null  int64
 13  FLAG_WORK_PHONE      438557 non-null  int64
 14  FLAG_PHONE           438557 non-null  int64
 15  FLAG_EMAIL           438557 non-null  int64
 16  OCCUPATION_TYPE      304354 non-null  object
 17  CNT_FAM_MEMBERS      438557 non-null  float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.2+ MB

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [52]:
credit.info()
display(credit.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   ID              1048575 non-null  int64
 1   MONTHS_BALANCE  1048575 non-null  int64
 2   STATUS          1048575 non-null  object
dtypes: int64(2), object(1)
memory usage: 24.0+ MB

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

#### Notes:

- **Months Balance** The month of the extracted data is the starting point, backwards, 0 is the current month, -1 is the previous month, and so on.

- **Status** 0: 1-29 days past due 1: 30-59 days past due 2: 60-89 days overdue 3: 90-119 days overdue 4: 120-149 days overdue 5: Overdue or bad debts, write-offs for more than 150 days C: paid off that month X: No loan for the month.

### Vintage Analysis

"Vintage analysis" refers to a method used in various fields, such as finance, economics, and data analysis, to analyze the performance, characteristics, or behavior of a specific group of items or entities that share a common attribute or time period of origination. The term "vintage" in this context usually refers to the year or period in which something was created, produced, or originated.

The vintage analysis technique involves grouping items based on their vintage and then examining trends, patterns, or metrics within those groups. This approach can provide insights into how certain attributes or behaviors change over time or across different groups. Vintage analysis is particularly useful when dealing with data that has a temporal aspect, such as financial assets, loans, economic indicators, and more.

For example, in finance, vintage analysis might involve grouping loans based on the year they were originated and then analyzing the default rates, repayment behaviors, or other performance metrics for each vintage group. This can help lenders and analysts understand how the quality of loans has changed over different time periods.

In summary, vintage analysis is a method for studying the performance, characteristics, or behaviors of items or entities based on their common origination time period, enabling insights into how things have evolved over time.

In [43]:
print("Number of unique ID in application datasets: ", len(set(application['ID'])))

Number of unique ID in application datasets:  438510

In [44]:
print("Number of unique ID in credit datasets: ", len(set(credit['ID'])))

Number of unique ID in credit datasets:  45985

In [45]:
print("Number of ID intersection between application and credit datasets: ", 
      len(set(application['ID']).intersection(set(credit['ID']))))

Number of ID intersection between application and credit datasets:  36457

In [59]:
credit

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

In [57]:
grouped = credit.groupby('ID')
### convert credit data to wide format which every ID is a row
pivot_tb = credit.pivot(index = 'ID', columns = 'MONTHS_BALANCE', values = 'STATUS')
pivot_tb['open_month'] = grouped['MONTHS_BALANCE'].min() # smallest value of MONTHS_BALANCE, is the month when loan was granted
pivot_tb['end_month'] = grouped['MONTHS_BALANCE'].max()

pivot_tb['ID'] = pivot_tb.index
pivot_tb = pivot_tb[['ID', 'open_month', 'end_month']]
pivot_tb['window'] = pivot_tb['end_month'] - pivot_tb['open_month'] # calculate observe window
pivot_tb.reset_index(drop = True, inplace = True)

In [61]:
pivot_tb.head()

MONTHS_BALANCE       ID  open_month  end_month  window
0               5001711          -3          0       3
1               5001712         -18          0      18
2               5001713         -21          0      21
3               5001714         -14          0      14
4               5001715         -59          0      59

#### Code Explanation

In this cell, we basically create pivot table with `ID` as index, `MONTH_BALANCE` as columns, and `STATUS` as values of the pivot. On that table, we also created `open_month` and `end_month` columns with `open_month` is the minimum values of `MONTH_BALANCE` and `end_month` is the maximum values of `MONTH_BALANCE`. `open_month` is basically the month when loan was granted and `end_month` is when the current month of loan. Lastly, we created `window` is the delta of `end_month` and `open_month`.

In [60]:
credit = pd.merge(credit, pivot_tb, on = 'ID', how = 'left') # join calculated information
credit_copy = credit.copy()
credit = credit[credit['window'] > 20] # delete users whose observe window less than 20
credit['status'] = np.where((credit['STATUS'] == '2') | (credit['STATUS'] == '3' )| (credit['STATUS'] == '4' )| (credit['STATUS'] == '5'), 1, 0) # analyze > 60 days past due 
credit['status'] = credit['status'].astype(np.int8) # 1: overdue 0: not
credit['month_on_book'] = credit['MONTHS_BALANCE'] - credit['open_month'] # calculate month on book: how many months after opening account
credit.sort_values(by = ['ID','month_on_book'], inplace = True)

In [62]:
credit.head()

,ID,MONTHS_BALANCE,STATUS,open_month,end_month,window,status,month_on_book
44,5001713,-21,X,-21,0,21,0,0
43,5001713,-20,X,-21,0,21,0,1
42,5001713,-19,X,-21,0,21,0,2
41,5001713,-18,X,-21,0,21,0,3
40,5001713,-17,X,-21,0,21,0,4

#### Code Explanation

In this cell, we merge the pivot table that we already created before with credit table on **ID** primary keys using left join. 

We filtered the data with observe `window` > 20 and then we basically binarize the credit `status` with the criteria:
1. If the `status` > 0 (1, 2, 3, etc) we consider as 1 or **overdue**
2. Else the `status` = 0 or we consider as **not overdue**

lastly we create new column `month_on_book` that is the delta of `MONTHS_BALANCE` and `open_month` columns. This column basically tells how many months after opening account. After that we sort the table by `ID` and `month_on_book` ascendingly.

In [65]:
##### denominator
denominator = pivot_tb[['open_month', 'ID']].groupby(['open_month']).count() # count how many users in every month the account was opened
denominator.reset_index(inplace = True)
denominator.columns = ['open_month','sta_sum']

In [67]:
denominator.head()

   open_month  sta_sum
0         -60      415
1         -59      406
2         -58      440
3         -57      400
4         -56      470

#### Code Explanation

In this cell, we created denominator variable that is counting the number of users `ID` in every month the account was opened using groupby method. We renamed the counted number of users column as `sta_sum`.

In [85]:
##### ventage table
vintage = credit.groupby(['open_month','month_on_book']).agg({'ID': ['count']}) 
vintage.reset_index(inplace = True)
vintage.columns = ['open_month','month_on_book','sta_sum'] 
vintage['due_count'] = np.nan
vintage = vintage[['open_month','month_on_book','due_count']] # delete aggerate column
vintage = pd.merge(vintage, denominator, on = ['open_month'], how = 'left') # join sta_sum colun to vintage table

In [86]:
vintage.head()

   open_month  month_on_book  due_count  sta_sum
0         -60              0        NaN      415
1         -60              1        NaN      415
2         -60              2        NaN      415
3         -60              3        NaN      415
4         -60              4        NaN      415

#### Code Explanation

In this cell, we create vintage table. Here is the process of creating the vintage table:
1. Aggregate the credit table by `open_mont` and `month_on_book` with the count aggregate function on `ID` column.
2. Create `due_count` column with the value = `NaN`
3. Remove the aggregated column `sta_sum` and then join the vintage table with the denominator table on `open_month` column with left join method.

In [89]:
for j in range(-60,1): # outer loop: month in which account was opened
    ls = []
    for i in range(0,61): # inner loop time after the credit card was granted
        due = list(credit[(credit['status'] == 1) & (credit['month_on_book'] == i) & (credit['open_month'] == j)]['ID']) # get ID which satisfy the condition
        ls.extend(due) # As time goes, add bad customers
        vintage.loc[(vintage['month_on_book'] == i) & (vintage['open_month'] == j), 'due_count'] = len(set(ls)) # calculate non-duplicate ID numbers using set()

vintage['sta_rate']  = vintage['due_count'] / vintage['sta_sum'] # calculate cumulative % of bad customers
vintage

      open_month  month_on_book  due_count  sta_sum  sta_rate
0            -60              0        0.0      415  0.000000
1            -60              1        0.0      415  0.000000
2            -60              2        0.0      415  0.000000
3            -60              3        0.0      415  0.000000
4            -60              4        0.0      415  0.000000
...          ...            ...        ...      ...       ...
1655         -21             17       15.0      858  0.017483
1656         -21             18       15.0      858  0.017483
1657         -21             19       15.0      858  0.017483
1658         -21             20       15.0      858  0.017483
1659         -21             21       15.0      858  0.017483

[1660 rows x 5 columns]

In [71]:
### Vintage wide table
vintage_wide = vintage.pivot(index = 'open_month',
                             columns = 'month_on_book',
                             values = 'sta_rate')
vintage_wide

month_on_book,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60
open_month,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
-60,0.00000,0.000000,0.000000,0.000000,0.000000,0.002410,0.002410,0.007229,0.007229,0.009639,0.009639,0.012048,0.014458,0.016867,0.016867,0.016867,0.016867,0.016867,0.016867,0.016867,0.016867,0.019277,0.019277,0.019277,0.019277,0.021687,0.021687,0.021687,0.021687,0.024096,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.026506,0.028916,0.028916,0.028916,0.028916,0.028916,0.028916,0.028916,0.028916,0.031325,0.031325,0.031325
-59,0.00000,0.000000,0.000000,0.004926,0.004926,0.004926,0.007389,0.007389,0.007389,0.012315,0.012315,0.019704,0.019704,0.019704,0.019704,0.019704,0.019704,0.019704,0.022167,0.024631,0.024631,0.027094,0.027094,0.027094,0.027094,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.029557,0.032020,0.032020,0.032020,0.032020,0.032020,0.032020,NaN
-58,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004545,0.006818,0.006818,0.011364,0.013636,0.013636,0.013636,0.013636,0.013636,0.013636,0.015909,0.018182,0.018182,0.018182,0.022727,0.022727,0.022727,0.022727,0.022727,0.022727,0.022727,0.022727,0.022727,0.022727,0.022727,0.022727,0.022727,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,NaN,NaN
-57,0.00000,0.000000,0.000000,0.000000,0.002500,0.002500,0.002500,0.007500,0.007500,0.007500,0.007500,0.007500,0.010000,0.017500,0.017500,0.017500,0.017500,0.017500,0.017500,0.017500,0.017500,0.017500,0.017500,0.017500,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.020000,0.022500,0.022500,0.022500,0.022500,0.022500,0.022500,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,0.025000,NaN,NaN,NaN
-56,0.00000,0.000000,0.004255,0.004255,0.008511,0.010638,0.010638,0.017021,0.017021,0.021277,0.021277,0.025532,0.029787,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.034043,0.036170,0.036170,0.036170,0.036170,0.038298,0.038298,NaN,NaN,NaN,NaN
-55,0.00000,0.000000,0.002058,0.006173,0.012346,0.016461,0.022634,0.022634,0.022634,0.024691,0.024691,0.024691,0.026749,0.032922,0.034979,0.037037,0.039095,0.039095,0.039095,0.039095,0.039095,0.039095,0.039095,0.039095,0.039095,0.039095,0.041152,0.041152,0.041152,0.041152,0.041152,0.041152,0.041152,0.043210,0.043210,0.043210,0.043210,0.043210,0.043210,0.045267,0.045267,0.045267,0.045267,0.045267,0.045267,0.045267,0.045267,0.045267,0.045267,0.045267,0.045267,0.045267,0.045267,0.045267,0.045267,0.045267,NaN,NaN,NaN,NaN,NaN
-54,0.00000,0.000000,0.000000,0.002137,0.004274,0.004274,0.006410,0.012821,0.012821,0.017094,0.019231,0.019231,0.023504,0.027778,0.027778,0.029915,0.029915,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,0.032051,NaN,NaN,NaN,NaN,NaN,NaN
-53,0.00000,0.002028,0.002028,0.002028,0.004057,0.004057,0.008114,0.010142,0.010142,0.012170,0.014199,0.014199,0.014199,0.014199,0.014199,0.014199,0.014199,0.014199,0.016227,0.016227,0.016227,0.016227,0.016227,0.016227,0.016227,0.016227,0.020284,0.020284,0.020284,0.020284,0.020284,0.020284,0.020284,0.020284,0.024341,0.024341,0.024341,0.024341,0.024341,0.024341,0.024341,0.024341,0.024341,0.024341,0.024341,0.024341,0.024341,0.026369,0.028398,0.028398,0.028398,0.028398,0.028398,0.028398,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-52,0.00000,0.000000,0.007233,0.009042,0.009042,0.009042,0.012658,0.012658,0.014467,0.016275,0.016275,0.016275,0.018083,0.018083,0.018083,0.019892,0.019892,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.021700,0.023508,0.023508,0.023508,0.023508,0.023508,0.023508,0.023508,0.023508,0.023508,0.023508,0.023508,0.023508,0.023508,0.023508,0.023508,0.023508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-51,0.00000,0.001718,0.001718,0.003436,0.003436,0.008591,0.010309,0.013746,0.013746,0.015464,0.015464,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.018900,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,0.020619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-50,0.00000,0.000000,0.001842,0.003683,0.007366,0.007366,0.007366,0.007366,0.007366,0.009208,0.009208,0.009208,0.009208,0.009208,0.009208,0.011050,0.011050,0.011050,0.011050,0.011050,0.011050,0.011050,0.011050,0.011050,0.011050,0.012891,0.012891,0.012891,0.012891,0.012891,0.012891,0.012891,0.012891,0.012891,0.016575,0.016575,0.016575,0.016575,0.016575,0.016575,0.016575,0.016575,0.016575,0.016575,0.016575,0.016575,0.016575,0.016575,0.016575,0.016575,0.016575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-49,0.00000,0.000000,0.000000,0.000000,0.005425,0.005425,0.005425,0.007233,0.007233,0.009042,0.010850,0.010850,0.010850,0.010850,0.010850,0.014467,0.014467,0.014467,0.014467,0.014467,0.014467,0.014467,0.014467,0.014467,0.014467,0.016275,0.016275,0.016275,0.016275,0.016275,0.016275,0.016275,0.016275,0.016275,0.016275,0.016275,0.016275,0.016275,0.018083,0.018083,0.018083,0.018083,0.018083,0.018083,0.018083,0.018083,0.018083,0.018083,0.018083,0.018083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-48,0.00000,0.000000,0.000000,0.001721,0.005164,0.006885,0.008606,0.010327,0.012048,0.012048,0.015491,0.017212,0.017212,0.017212,0.018933,0.020654,0.020654,0.022375,0.022375,0.022375,0.024096,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.025818,0.027539,0.027539,0.027539,0.027539,0.027539,0.027539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-47,0.00000,0.000000,0.000000,0.003273,0.004910,0.004910,0.013093,0.013093,0.013093,0.014730,0.014730,0.014730,0.014730,0.016367,0.016367,0.016367,0.016367,0.016367,0.016367,0.021277,0.021277,0.021277,0.022913,0.022913,0.024550,0.024550,0.024550,0.024550,0.024550,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,0.026187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-46,0.00000,0.000000,0.000000,0.001739,0.003478,0.005217,0.006957,0.012174,0.012174,0.012174,0.013913,0.013913,0.017391,0.019130,0.019130,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,0.020870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-45,0.00000,0.000000,0.000000,0.001653,0.004959,0.006612,0.006612,0.009917,0.009917,0.011570,0.011570,0.013223,0.013223,0.013223,0.014876,0.014876,0.014876,0.014876,0.014876,0.014876,0.014876,0.014876,0.014876,0.014876,0.014876,0.014876,0.014876,0.014876,0.014876,0.014876,0.016529,0.016529,0.016529,0.016529,0.016529,0.016529,0.016529,0.016529,0.016529,0.016529,0.016529,0.016529,0.016529,0.016529,0.016529,0.016529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-44,0.00000,0.001692,0.003384,0.005076,0.005076,0.006768,0.008460,0.011844,0.011844,0.011844,0.013536,0.015228,0.015228,0.015228,0.015228,0.015228,0.015228,0.015228,0.015228,0.016920,0.016920,0.016920,0.018613,0.018613,0.018613,0.018613,0.018613,0.018613,0.018613,0.018613,0.018613,0.018613,0.018613,0.018613,0.020305,0.020305,0.020305,0.020305,0.020305,0.020305,0.020305,0.020305,0.020305,0.020305,0.020305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-43,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001541,0.001541,0.004622,0.004622,0.006163,0.007704,0.010786,0.010786,0.010786,0.010786,0.010786,0.010786,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,0.012327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-42,0.00000,0.000000,0.001425,0.004274,0.007123,0.007123,0.009972,0.009972,0.011396,0.012821,0.012821,0.014245,0.015670,0.015670,0.015670,0.017094,0.017094,0.017094,0.017094,0.017094,0.017094,0.018519,0.018519,0.018519,0.018519,0.018519,0.018519,0.018519,0.018519,0.019943,0.019943,0.019943,0.019943,0.019943,0.019943,0.021368,0.021368,0.021368,0.021368,0.021368,0.021368,0.021368,0.021368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-41,0.00000,0.000000,0.000000,0.001435,0.008608,0.008608,0.010043,0.011478,0.012912,0.014347,0.015782,0.017217,0.020086,0.020086,0.020086,0.020086,0.020086,0.020086,0.020086,0.020086,0.020086,0.021521,0.021521,0.021521,0.021521,0.022956,0.022956,0.022956,0.022956,0.022956,0.022956,0.022956,0.022956,0.022956,0.022956,0.022956,0.022956,0.022956,0.022956,0.022956,0.022956,0.022956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-40,0.00000,0.000000,0.002714,0.002714,0.006784,0.008141,0.008141,0.008141,0.008141,0.010855,0.012212,0.012212,0.013569,0.016282,0.016282,0.016282,0.016282,0.016282,0.016282,0.018996,0.018996,0.018996,0.018996,0.018996,0.018996,0.018996,0.018996,0.020353,0.021710,0.021710,0.021710,0.021710,0.021710,0.021710,0.024423,0.024423,0.024423,0.024423,0.024423,0.024423,0.024423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-39,0.00000,0.001203,0.001203,0.001203,0.001203,0.003610,0.003610,0.004813,0.006017,0.006017,0.006017,0.007220,0.007220,0.009627,0.009627,0.009627,0.009627,0.009627,0.012034,0.012034,0.012034,0.013237,0.013237,0.013237,0.013237,0.015644,0.015644,0.015644,0.015644,0.016847,0.016847,0.016847,0.016847,0.016847,0.018051,0.018051,0.018051,0.018051,0.018051,0.018051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-38,0.00134,0.001340,0.001340,0.001340,0.002681,0.002681,0.002681,0.004021,0.005362,0.006702,0.008043,0.008043,0.009383,0.009383,0.009383,0.009383,0.009383,0.010724,0.010724,0.010724,0.010724,0.010724,0.010724,0.010724,0.012064,0.013405,0.013405,0.013405,0.013405,0.014745,0.014745,0.014745,0.014745,0.014745,0.014745,0.014745,0.014745,0.014745,0.014745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-37,0.00000,0.000000,0.000000,0.000000,0.001389,0.001389,0.001389,0.006944,0.006944,0.008333,0.012500,0.012500,0.012500,0.013889,0.013889,0.015278,0.015278,0.015278,0.018056,0.018056,0.018056,0.019444,0.019444,0.019444,0.020833,0.020833,0.020833,0.020833,0.022222,0.022222,0.022222,0.022222,0.022222,0.023611,0.023611,0.023611,0.023611,0.023611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-36,0.00000,0.000000,0.000000,0.001443,0.002886,0.005772,0.005772,0.007215,0.010101,0.011544,0.014430,0.014430,0.015873,0.015873,0.015873,0.015873,0.015873,0.015873,0.017316,0.017316,0.017316,0.017316,0.017316,0.017316,0.017316,0.018759,0.018759,0.018759,0.018759,0.020202,0.020202,0.020202,0.020202,0.020202,0.020202,0.020202,0.020202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-35,0.00000,0.000000,0.000000,0.001312,0.001312,0.001312,0.001312,0.002625,0.005249,0.006562,0.011811,0.013123,0.013123,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,0.014436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-34,0.00000,0.000000,0.000000,0.000000,0.000000,0.001344,0.002688,0.006720,0.006720,0.008065,0.009409,0.010753,0.010753,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.013441,0.013441,0.013441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-33,0.00000,0.000000,0.001377,0.001377,0.001377,0.001377,0.001377,0.004132,0.004132,0.004132,0.004132,0.004132,0.005510,0.006887,0.006887,0.006887,0.006887,0.006887,0.006887,0.008264,0.008264,0.009642,0.009642,0.009642,0.009642,0.009642,0.011019,0.011019,0.011019,0.012397,0.012397,0.012397,0.012397,0.012397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-32,0.00000,0.000000,0.001344,0.001344,0.002688,0.002688,0.004032,0.004032,0.006720,0.006720,0.008065,0.008065,0.008065,0.009409,0.009409,0.009409,0.009409,0.009409,0.010753,0.010753,0.010753,0.010753,0.010753,0.010753,0.010753,0.010753,0.012097,0.012097,0.012097,0.012097,0.012097,0.012097,0.013441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-31,0.00000,0.000000,0.000000,0.000000,0.000000,0.002674,0.004011,0.004011,0.004011,0.004011,0.004011,0.004011,0.006684,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,0.009358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-30,0.00000,0.000000,0.000000,0.001244,0.001244,0.002488,0.002488,0.006219,0.006219,0.008706,0.008706,0.008706,0.009950,0.011194,0.012438,0.012438,0.012438,0.012438,0.012438,0.013682,0.013682,0.013682,0.013682,0.013682,0.013682,0.014925,0.014925,0.014925,0.014925,0.014925,0.014925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-29,0.00000,0.000000,0.000000,0.001282,0.002564,0.005128,0.005128,0.006410,0.007692,0.007692,0.010256,0.010256,0.010256,0.010256,0.011538,0.011538,0.011538,0.011538,0.011538,0.011538,0.011538,0.011538,0.011538,0.011538,0.011538,0.011538,0.011538,0.011538,0.011538,0.011538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-28,0.00000,0.000000,0.001241,0.001241,0.001241,0.002481,0.003722,0.004963,0.006203,0.007444,0.008685,0.008685,0.008685,0.009926,0.009926,0.011166,0.011166,0.011166,0.011166,0.011166,0.012407,0.012407,0.012407,0.013648,0.013648,0.014888,0.014888,0.014888,0.014888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-27,0.00000,0.000000,0.000000,0.001196,0.002392,0.003589,0.003589,0.004785,0.005981,0.008373,0.008373,0.008373,0.009569,0.010766,0.010766,0.010766,0.010766,0.010766,0.010766,0.013158,0.013158,0.013158,0.014354,0.014354,0.014354,0.014354,0.015550,0.015550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-26,0.00000,0.000000,0.000000,0.002660,0.003989,0.005319,0.005319,0.006649,0.006649,0.006649,0.006649,0.007979,0.007979,0.007979,0.007979,0.007979,0.007979,0.007979,0.007979,0.007979,0.007979,0.007979,0.007979,0.007979,0.007979,0.007979,0.007979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-25,0.00000,0.000000,0.001159,0.002317,0.004635,0.006952,0.006952,0.010429,0.010429,0.010429,0.010429,0.013905,0.015064,0.015064,0.015064,0.015064,0.016222,0.016222,0.016222,0.016222,0.016222,0.016222,0.017381,0.017381,0.017381,0.017381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-24,0.00000,0.000000,0.000000,0.000000,0.000000,0.001119,0.002237,0.003356,0.003356,0.004474,0.004474,0.004474,0.005593,0.005593,0.005593,0.005593,0.005593,0.005593,0.005593,0.005593,0.006711,0.006711,0.006711,0.006711,0.006711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-23,0.00000,0.000000,0.000000,0.002225,0.004449,0.005562,0.005562,0.005562,0.006674,0.006674,0.006674,0.007786,0.007786,0.007786,0.007786,0.007786,0.007786,0.007786,0.007786,0.007786,0.007786,0.007786,0.007786,0.007786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-22,0.00000,0.000000,0.001156,0.002312,0.002312,0.003468,0.003468,0.004624,0.005780,0.005780,0.005780,0.009249,0.009249,0.009249,0.010405,0.010405,0.010405,0.010405,0.010405,0.011561,0.011561,0.011561,0.011561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-21,0.00000,0.000000,0.000000,0.003497,0.004662,0.004662,0.006993,0.009324,0.010490,0.010490,0.011655,0.013986,0.015152,0.016317,0.016317,0.016317,0.016317,0.017483,0.017483,0.017483,0.017483,0.017483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN