In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import zipfile
import io
import os

In [23]:
url = "https://github.com/alfandysurya2/project_datasets/raw/main/AnnualGDPGrowth/annual_gdp_growth_clean.zip"

response = requests.get(url)
if response.status_code == 200:
    zip_data = response.content
else:
    print(f"Failed to download ZIP dataset: {response.status_code} - {response.reason}")
    exit(1)

current_directory = os.getcwd()
parent_directory = os.path.abspath(os.path.join(current_directory, os.pardir))
dataset_path = 'dataset'
df_full_path = os.path.join(parent_directory, dataset_path)
print(f"full path: {df_full_path}")
if not os.path.exists(df_full_path):
    os.makedirs(df_full_path)

with zipfile.ZipFile(io.BytesIO(zip_data)) as zip_file:
    zip_file.extractall(df_full_path)
    print(f"successfully extract all datasets to: {df_full_path}")

full path: c:\Projects\portfolio\Worldwide Annual GDP Growth Project\dataset
successfully extract all datasets to: c:\Projects\portfolio\Worldwide Annual GDP Growth Project\dataset

In [26]:
gdp_data = '\\annual_gdp_growth_clean.xlsx'
metadata = '\\metadata_country_clean.xlsx'

df_gdp = pd.read_excel(df_full_path+gdp_data)
df_metadata = pd.read_excel(df_full_path+metadata)

In [27]:
df_gdp

,Country Name,Country Code,Last Update,Indicator Name,Indicator Code,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,...,6.429817e+14,-2.047921e+14,3.543630e+14,2.116716e+14,5.482371e+14,5.257855e+12,6.350298e+14,-1.858910e+14,1.717251e+13,NaN
1,Africa Eastern and Southern,AFE,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.548793e+14,7.965825e+13,5.148217e+14,4.579328e+14,5.346210e+14,...,4.219599e+14,3.994682e+14,2.974101e+14,2.224524e+14,2.546973e+14,2.513984e+14,2.087765e+13,-2.888681e+14,4.334927e+13,3.404852e+14
2,Afghanistan,AFG,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,...,5.600745e+14,2.724543e+14,1.451315e+14,2.260314e+14,2.647003e+14,1.189228e+14,3.911603e+12,-2.351101e+14,-2.070000e+14,NaN
3,Africa Western and Central,AFW,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1.854872e+14,3.772845e+14,7.278612e+14,5.410812e+14,4.081666e+14,...,6.109741e+14,5.929463e+14,2.750042e+14,1.254350e+14,2.313219e+14,2.813142e+14,3.212407e+14,-9.277995e+14,3.980848e+14,3.762758e+14
4,Angola,AGO,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,...,4.954613e+14,4.822559e+14,9.435716e+14,-2.580111e+13,-1.471498e+14,-1.316362e+14,-7.022730e+14,-5.638215e+14,1.199211e+14,3.045403e+14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,...,5.340908e+14,3.348804e+14,5.916270e+14,5.571757e+14,4.825690e+13,3.406631e+14,4.756831e+13,-5.340275e+14,1.074561e+14,3.511707e+14
262,"Yemen, Rep.",YEM,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,...,4.823519e+14,-1.886902e+14,-2.799455e+14,-9.375124e+14,-5.071796e+14,7.524476e+14,NaN,NaN,NaN,NaN
263,South Africa,ZAF,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.844734e+14,6.177931e+14,7.373709e+14,7.939609e+14,6.122798e+14,...,2.485468e+14,1.413826e+14,1.321862e+14,6.645523e+14,1.157947e+14,1.522329e+13,3.034532e+14,-6.342471e+14,4.913097e+13,2.042299e+14
264,Zambia,ZMB,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1.361382e+14,-2.490839e+14,3.272393e+14,1.221405e+14,1.664746e+14,...,5.057232e+14,4.697992e+14,2.920375e+14,3.776679e+14,3.504336e+14,4.034494e+14,1.441306e+14,-2.785055e+14,4.598734e+14,4.744942e+14
265,Zimbabwe,ZWE,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,6.316157e+14,1.434471e+14,6.244345e+14,-1.106172e+14,4.910571e+14,...,3.196731e+13,1.484543e+14,2.023650e+14,9.009554e+14,4.080264e+14,5.009867e+14,-6.332446e+14,-7.816951e+14,8.468017e+14,3.400000e+14

In [28]:
df_metadata

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
261,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
262,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
263,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
264,ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia
265,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe